@import 'mixins';

.app-container {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  margin: auto;
  padding: 2rem;

  @include breakpoint(m){
    flex-direction: row;
  }
}
.app-header{
  flex-basis: 100%;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.panel-todo{
  flex: 1;
  width: 100%;
  @include breakpoint(m){
    border-right: 1px solid #d5d5d5; 
    padding-right: 1rem; 
    margin-right: 1rem; 
  }
  & > div:first-of-type{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 320px;
  }
}

.panel-complete{
  flex: 1;
  width: 100%
}

.task-card{
  &__toggle{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 1rem;
    height: 22rem;

    &--btn-container{
      justify-content: center;
    }
    p{
      color: #777;
      font-size: 1rem;
    }
  }
  &__toggle-icon{
    height: 13rem;
    display: flex;
    align-items: center;
  }
  &__card{
    width: 90%;
    margin-bottom: 1rem;
  }
  &__card-completed{
    .MuiCardContent-root-35{
      background: #f2fce8;
    }
  }
}

.task-card-list{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.panel-todo .task-input-area{
  margin-top: 2rem;
  div{
    min-height: 5rem;
    textarea{
      min-height: 5rem;
    }
  }
  fieldset{
    border-radius: 0;
  }

}

.cross-icon{
    background: #333;
    height: 100px;
    position: relative;
    width: 20px;
    cursor: pointer;
    margin-bottom: 1.5rem; 
}

.cross-icon:after {
  background: #333;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
}
